<!DOCTYPE html>
<html>
  <head>
    <title>Seller|home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Seller home</h1>
    <div> Person id: <%= req.session.pid%></div>
    <div>Logged in as: <%= req.session.uname%></div>
    <div>Your email: <%= req.session.email%></div>
 <div>Last login time :<%=req.session.lasttimelog%></div>
    
 
    
  </body>
</html>